nav {
  display: flex;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0 1rem;
      font-size: x-large;
      box-sizing:content-box;
      transition: all 0.3s;
      &:hover{
        transform:scale(1.1);
      }
    }
  }
}
img {
  width: 80px;
  border-radius: 150px;
  margin: 10px;
  border: 2px solid white;
}
.active {
  font-weight: bold;
}
