@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url(../src/assets/img/backg.webp);
    background-attachment: fixed;
}